@using TNDStudios.Blogs.Helpers
@model TNDStudios.Blogs.ViewModels.IndexViewModel
@{

}

<div>
    @*Render The Index View Using The Helper Function*@
    @Html.BlogIndex()

    <!--
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h2>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">Start Bootstrap</a>
                        on September 24, 2018
                    </p>
                </div>
                <hr>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h2>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                            Problems look mighty small from 150 miles up
                            Problems look mighty small from 150 miles up
                            Problems look mighty small from 150 miles up
                            Problems look mighty small from 150 miles up
                            Problems look mighty small from 150 miles up
                            Problems look mighty small from 150 miles up
                            Problems look mighty small from 150 miles up
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">Start Bootstrap</a>
                        on September 24, 2018
                    </p>
                </div>
                <hr>
            </div>
            <div class="clearfix visible-md"></div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h2>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">Start Bootstrap</a>
                        on September 24, 2018
                    </p>
                </div>
                <hr>
            </div>
            <div class="clearfix visible-lg"></div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h2>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                            Problems look mighty small from 150 miles up
                            Problems look mighty small from 150 miles up
                            Problems look mighty small from 150 miles up
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">Start Bootstrap</a>
                        on September 24, 2018
                    </p>
                </div>
                <hr>
            </div>
            <div class="clearfix visible-md"></div>
        </div>
    </div>
    -->

</div>
