@using TNDStudios.Web.Blogs.Core.Helpers
@model TNDStudios.Web.Blogs.Core.ViewModels.IndexViewModel
@{

}

@section Header
    {
    @Html.BlogSEOHeader()
}

<div>
    @*Render The Index View Using The Helper Function*@
    @Html.BlogIndex()

</div>
