@using TNDStudios.Web.Blogs.Core.Helpers
@model TNDStudios.Web.Blogs.Core.ViewModels.LoginViewModel
@{

}

@section Header
    {
}

<div>
    @*Render The Index View Using The Helper Function*@
    @Html.BlogLoginBox()

</div>
